body {
    padding: 0;
    margin: 0;
    background-image: url("../Images/light-grey-terrazzo.png");
}

/* Begin Navigation */

.nav-wrapper {
    background-color: #dedede;
    color: #3f51b5;
  }

.nameBar {
  font-family: 'Rock Salt';
}
a.nameBar {
    padding-top: 10px;
    padding-left: 15px;
    color: #3f51b5;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Rock Salt';
}

#nav-mobile li > a {
    color: #3f51b5;
    font-size: 18px;
    font-weight: bold;
  }
.sidenav {
    background-color: #dedede;
    width: 200px;
  }

.sidenav li > a {
    color: #3f51b5;
    font-size: 20px;
    width: 200px;
  }
  
/* End Navigation */

/* Bio Page */

.card-title {
    margin-left: 0px;
    padding-bottom: 10px;
    font-size: 35px;
    color: #3f51b5;
    font-weight: bold;
}
.para {
    font-size: 20px;
    padding-top: 10px;
    color: #04166e;
    margin-left: 10px;
}

#self-Image { 
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin: 0px;
}


/*Bio Page End */

/* Portfolio Cards */

#portHldr {
  background-color: #dedede;
}

.Title {
    color: #3f51b5;
}
.card-text {
    font-family: Arial, Helvetica, sans-serif;  
}

.card {
    background-color: #3f51b5;
}

.card-img {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}

img.card-img {
    margin: 0;
}
#cardInfo {
    font-size: 25px;
    font-weight: bold;
}

span.card-title.activator.white-text {
  margin: 0px 0px 8px;
  padding: 0px 0px 0px 10px;
}

a {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

a#depLink:hover {
    color: rgb(197, 66, 105);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    z-index: 3;
  }

a#gitLink {
  color: #3f51b5;
}

a#gitLink:hover {
  color: rgb(197, 66, 105);
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  z-index: 3;
}




  

#exit {
    font-size: 20px;
}

.card-reveal {
    font-size: 18px;
    }

li {
    font-size: 15px;
}



/* Portfolio Cards Ends */

/* Contact Page begins - input form */
#inputIcons {
    color: #3f51b5;
}

#inputValue.input-field label {
    color: #3f51b5;
  }

  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }

  /* label underline focus color */
  #inputValue.input-field input[type=text]:focus {
    border-bottom: 1px solid #04166e;
    box-shadow: 0 1px 0 0 #000;
  }
 
  /* icon prefix focus color */
  #inputValue.input-field .prefix.active {
    color: #3f51b5;
  }

/* Message Box changes */

  #msgBox.input-field input[type=text]:focus {
    border-bottom: 1px solid #04166e;
    box-shadow: 0 1px 0 0 #000;
  }
 
  /* icon prefix focus color */
  #msgBox.input-field .prefix.active {
    color: #3f51b5;
  }

  #msgBox.input-field label {
    color: #3f51b5;
  }

  label.lblBtn {
    margin-left: 0px;
  }

/* Footer */

#ftrIcon {
    font-size: 22px;
    color: #3f51b5;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }
  
#ftrIcon:hover {
    color: rgb(197, 66, 105);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    z-index: 3;
  }

/* #socIcon {
    background-image: url("../Images/light-grey-terrazzo.png");
} */
.page-footer .footer-copyright {
  min-height: 30px;
}
 
.footer-copyright {
    padding-bottom: 0;
    padding-top: 0;
}

 footer.page-footer {
     padding-top: 0;
     background-color: #dedede; 
     padding-bottom: 0;
} 


